<form class="form" action="{$fsc->url()}&caca={$fsc->random_string(4)}#avanzado" method="post">
    <div class="container-fluid" style="margin-top: 10px;">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="form-group">
                    Zona horaria:
                    <select class="form-control" name="zona_horaria">
                        {loop="$fsc->settings->get_timezone_list()"}
                        {if="$value['zone']==$GLOBALS['config2']['zona_horaria']"}
                        <option value="{$value['zone']}" selected="">{$value['diff_from_GMT']} - {$value['zone']}</option>
                        {else}
                        <option value="{$value['zone']}">{$value['diff_from_GMT']} - {$value['zone']}</option>
                        {/if}
                        {/loop}
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    Portada:
                    <select name="homepage" class="form-control">
                        {loop="$fsc->paginas"}
                        {if="$value->name==$GLOBALS['config2']['homepage']"}
                        <option value="{$value->name}" selected="">{$value->name}</option>
                        {else}
                        <option value="{$value->name}">{$value->name}</option>
                        {/if}
                        {/loop}
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    Decimales de los totales:
                    <select name="nf0" class="form-control">
                        {loop="$fsc->settings->nf0()"}
                        {if="$value==$GLOBALS['config2']['nf0']"}
                        <option value="{$value}" selected="">{$value}</option>
                        {else}
                        <option value="{$value}">{$value}</option>
                        {/if}
                        {/loop}
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    Decimales de los precios:
                    <select name="nf0_art" class="form-control">
                        {loop="$fsc->settings->nf0()"}
                        {if="$value==$GLOBALS['config2']['nf0_art']"}
                        <option value="{$value}" selected="">{$value}</option>
                        {else}
                        <option value="{$value}">{$value}</option>
                        {/if}
                        {/loop}
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    Separador para los Decimales:
                    <select name="nf1" class="form-control">
                        {loop="$fsc->settings->nf1()"}
                        {if="$key==$GLOBALS['config2']['nf1']"}
                        <option value="{$key}" selected="">{$value}</option>
                        {else}
                        <option value="{$key}">{$value}</option>
                        {/if}
                        {/loop}
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    Separador para los Millares:
                    <select name="nf2" class="form-control">
                        <option value="">(Ninguno)</option>
                        {loop="$fsc->settings->nf1()"}
                        {if="$key==$GLOBALS['config2']['nf2']"}
                        <option value="{$key}" selected="">{$value}</option>
                        {else}
                        <option value="{$key}">{$value}</option>
                        {/if}
                        {/loop}
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    Símbolo Divisa:
                    <select name="pos_divisa" class="form-control">
                        {if="$GLOBALS['config2']['pos_divisa']=='right'"}
                        <option value="right" selected="">123 {$fsc->simbolo_divisa()}</option>
                        <option value="left">{$fsc->simbolo_divisa()}123</option>
                        {else}
                        <option value="right">123 {$fsc->simbolo_divisa()}</option>
                        <option value="left" selected="">{$fsc->simbolo_divisa()}123</option>
                        {/if}
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <p class="help-block">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    La configuración de decimales y separadores de decimales y millares
                    se aplica únicamente a los listados y formatos de impresión. Para los
                    campos editables se utiliza la configuración del sistema operativo.
                </p>
            </div>
        </div>
        <div class="row bg-success">
            <div class="col-md-12 col-sm-12">
                <h2>
                    <i class="fa fa-language"></i>&nbsp; Traducciones:
                </h2>
                <p class="help-block">
                    FACTURA y FACTURAS se traducen únicamente en los documentos de ventas.
                    FACTURA_SIMPLIFICADA se utiliza en los tickets.
                </p>
            </div>
        </div>
        <div class="row bg-success">
            {loop="$fsc->settings->traducciones()"}
            <div class="col-md-2 col-sm-3">
                <div class="form-group">
                    <span class="text-uppercase">{$value['nombre']}:</span>
                    <input class="form-control" type="text" name="{$value['nombre']}" value="{$value['valor']}" autocomplete="off"/>
                </div>
            </div>
            {/loop}
        </div>
        <div class="row bg-warning">
            <div class="col-md-12 col-sm-12">
                <h2>
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                    &nbsp; Desarrollo:
                </h2>
                <p class='help-block'>
                    Estos son parametros de configuración sensibles de MiFactura.eu.
                    <b>No los modifiques si no sabes lo que haces</b>.
                </p>
            </div>
        </div>
        <div class="row bg-warning">
<!--            <div class="col-md-3 col-sm-3">-->
<!--                <div class="form-group">-->
<!--                    Comprobaciones en la base de datos:-->
<!--                    <select name="check_db_types" class="form-control">-->
<!--                        {if="$GLOBALS['config2']['check_db_types']==1"}-->
<!--                        <option value="1" selected=''>Comprobar los tipos de las columnas de las tablas</option>-->
<!--                        <option value="0">No comprobar los tipos</option>-->
<!--                        {else}-->
<!--                        <option value="1">Comprobar los tipos de las columnas de las tablas</option>-->
<!--                        <option value="0" selected=''>No comprobar los tipos</option>-->
<!--                        {/if}-->
<!--                    </select>-->
<!--                    <p class="help-block">-->
<!--                        Tendrás que <a href="index.php?page=admin_info">limpiar la caché</a>-->
<!--                        para que comiencen las comprobaciones.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    Tipo entero:
                    <input class="form-control" type="text" name="db_integer" value="{$GLOBALS['config2']['db_integer']}"/>
                    <p class="help-block">Tipo a usar en la base de datos (MySQL).</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <!--{$form_class=''}-->
                {if="$GLOBALS['config2']['foreign_keys']==0"}<!--{$form_class=' has-warning'}-->{/if}
                <div class="form-group{$form_class}">
                    Comprobar claves ajenas:
                    <select name="foreign_keys" class="form-control">
                        {if="$GLOBALS['config2']['foreign_keys']==1"}
                        <option value="1" selected=''>Si</option>
                        <option value="0">No</option>
                        {else}
                        <option value="1">Si</option>
                        <option value="0" selected=''>No</option>
                        {/if}
                    </select>
                    <p class="help-block">
                        {if="strtolower(FS_DB_TYPE)=='mysql'"}
                        <b>Peligro: no tocar si no sabes lo que haces</b>.
                        {else}
                        Sólo se puede desactivar en MySQL.
                        {/if}
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-group">
                    Permitir acceso desde estas IPs:
                    <input class="form-control" type="text" name="ip_whitelist" value="{$GLOBALS['config2']['ip_whitelist']}"/>
                    <p class="help-block">Los administradores pueden acceder desde cualquier IP.</p>
                </div>
            </div>
        </div>
        <div class="row bg-warning">
            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    Generar los libros contables:
                    <select name="libros_contables" class="form-control">
                        {if="$GLOBALS['config2']['libros_contables']==1"}
                        <option value="1" selected=''>Si</option>
                        <option value="0">No</option>
                        {else}
                        <option value="1">Si</option>
                        <option value="0" selected=''>No</option>
                        {/if}
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    Algoritmo de nuevo código:
                    <select name="new_codigo" class="form-control">
                        {loop="$fsc->settings->new_codigo_options()"}
                        {if="$GLOBALS['config2']['new_codigo']==$key"}
                        <option value="{$key}" selected=''>{$value}</option>
                        {else}
                        <option value="{$key}">{$value}</option>
                        {/if}
                        {/loop}
                    </select>
                    <p class="help-block">
                        <b>Peligro: no modificar si ya tienes {#FS_FACTURAS#}.</b>
                    </p>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="form-group{$form_class}">
                    Máximo tiempo de ejecución del CRON:
                    <input class="form-control" type="number" name="cron_maximo_minutos" value="{$fsc->cron_maximo_minutos}"/>
                    <p class="help-block">
                        Dejar el tiempo suficiente para que un cron finalice: <b>Peligro: un valor bajo, podría permitir la ejecución concurrente de más de un cron</b>.
                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 col-sm-6">
                <button class="btn btn-sm btn-danger" type="button" onclick="window.location.href = '{$fsc->url()}&caca={$fsc->random_string(4)}&reset=TRUE#avanzado'">
                    <span class="glyphicon glyphicon-edit"></span>&nbsp; Configuración por defecto
                </button>
            </div>
            <div class="col-md-6 col-sm-6 text-right">
                <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled = true;this.form.submit();">
                    <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Guardar
                </button>
            </div>
        </div>
    </div>
</form>