/*
  Correcciones y complementaciones de los estilos de skote, sin tocar los estilos originales
  Si se usan variables deberán tener que estar en sus archivos ya que si no las variables cambian los colores
  (ejemplo: tpv_caja en los DataTable)
*/
body[data-sidebar="dark"] {
    footer.footer {
        background-color: $sidebar-dark-bg;
    }
}

.nav-item [id^=tab_] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-middle-xy {
    vertical-align: middle;
    text-align: center !important;
}

.card-header {
    background-color: rgba(0, 0, 0, 0);
    font-weight: 600;
    font-size: 16px;
}

/* Centrar todos los chart en su div */
div[id^="chart_"] {
    display: flex;
    justify-content: center;
}

/* Añadimos espaciado alrededor de los iconos */
i.bx-fw,
i.fa-fw,
svg.fa-fw,
span.fa-fw {
    margin: 0 0.25rem 0 0.25rem;
}

.clickable, .clickableRow:hover {
    cursor: pointer;
}

.datepicker {
    border: 1px solid #ced4da !important;
}

.input-group {
    flex-wrap: nowrap !important;
}

//Regla para que no se descuadre la alineación con los thead y el contenido de la tabla
table .text-start {
    padding-left: 12px !important;
}

/*body:after{
  content: '';
  top: 70px;
  left: 0;
  width: 100%;
  height: 98vh;
  background: url('Templates/src/assets/images/watermark.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: fixed;
}*/

.table-responsive {
    /*overflow: hidden;*/
}

.auth-body-bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    will-change: transform;
    transform: translateX(-50%) translateY(-50%);
}

.bg-overlay {
    z-index: 99;
    background: none !important;
    background-color: #0000008c !important;
}

.cont-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.auth-full-bg .container {
    position: relative;
    z-index: 100;
}

.close {
    float: right;
    font-size: 1.40625rem;
    font-weight: 600;
    line-height: 1;
    color: #000;
    text-shadow: none;
    opacity: .5;
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
    color: #000;
    text-decoration: none;
    opacity: .75;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.td-switch {
    height: 1px;
}

/**
https://stackoverflow.com/questions/28285813/style-jquery-autocomplete-in-a-bootstrap-input-field
*/
.autocomplete-suggestions {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.autocomplete-suggestion {
    padding: 10px 7.5px 10px 7.5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-suggestion:nth-child(even) {
    background: #EEE
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #D9EDF7;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}

.form-text {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 100%;
}


.form-text-description {
    font-size: 12px;
}

.fa-layers-counter {
    border-radius: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    height: 1.5em;
    line-height: 1;
    max-width: 5em;
    min-width: 1.5em;
    overflow: hidden;
    padding: 0.25em;
    right: 0;
    text-overflow: ellipsis;
    top: 0;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: top right;
    transform-origin: top right;
}

.fa-layers-counter, .fa-layers-text {
    display: inline-block;
    position: absolute;
    text-align: center;
}

ul.nav-tabs-custom > li.nav-item > a.nav-link > span.fa-layers.fa-fw > span.fa-layers-counter {
    font-family: var(--bs-body-font-family);
    font-size: 2rem;
    right: -5px;
    top: -5px;
}

i > small > span.badge {
    font-family: var(--bs-body-font-family);
    font-size: 0.55rem;
}

ul.nav-tabs-custom > li.nav-item > a.nav-link > i.fa-fw,
ul.nav-tabs-custom > li.nav-item > a.nav-link > i > svg.fa-fw,
ul.nav-tabs-custom > li.nav-item > a.nav-link > svg.fa-fw,
ul.nav-tabs-custom > li.nav-item > a.nav-link > span.fa-layers {
    position: relative;
    font-size: 1.5em;
}

table.dataTable thead.table-dark th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    background-color: var(--bs-table-bg) !important;
}

label {
    margin-bottom: 0 !important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc {
    background-image: unset !important;
}

iframe body {
    background-color: #ffffff00 !important;
}

tbody .fa-fw {
    margin: 0 !important;
}

.navbar-header .fa-chevron-down {
    height: 10px;
}

tbody .fa-star, tbody .fa-star-half-stroke {
    margin: 0 !important;
    font-size: 11px;
}

.modal-dialog-scrollable .modal-body {
    overflow-x: hidden;
}


.nav-tabs .nav-link {
    min-height: 55px;
}

.nav-content,
.tab-content {
    border: 0 !important;
}

//Arreglo para que no haya un scroll en Y en los datatables
.dataTables_scrollBody tbody {
    border-top: 0 !important;
}

//Sombreado para las filas de las tablas
table.dataTable.table-striped > tbody > tr.odd.selected > * {
    box-shadow: inset 0 0 0 9999px rgba(119, 119, 119, 0.95) !important;
}

table.dataTable.table-striped > tbody > tr.odd.selected:hover {
    box-shadow: inset 0 0 0 9999px rgba(91, 91, 91, 0.95) !important;
}

table.dataTable.table-striped > tbody > tr.even.selected > * {
    box-shadow: inset 0 0 0 9999px rgba(119, 119, 119, 0.95) !important;
}

table.dataTable.table-striped > tbody > tr.even.selected:hover {
    box-shadow: inset 0 0 0 9999px rgba(91, 91, 91, 0.95) !important;
}

table.table-datatable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
}

thead tr th {
    white-space: nowrap;
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
.dt-button-collection {
    width: auto !important;
}

.dataTables_filter {
    padding-right: 0.5rem;

}

.tab-content {
    padding: 1.5rem;
}

//Quitamos el padding
.hide-gap {
    padding: 0 !important;
}

.card-padding {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.nav-tabs .nav-item {
    margin-top: 10px;
}

//Arreglo del header de calendar en tamaño móvil
.fc-header-toolbar {
    flex-direction: column;
}

.fc-col-header-cell > .fc-scrollgrid-sync-inner > .fc-col-header-cell-cushion {
    white-space: normal;
}

.fc-row:first-child table {
    border-top: 0 hidden transparent;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

    .nav-tabs .nav-item {
        margin-top: 0;
    }
    .fast_line_ref {
        min-width: 100% !important;
        width: 100% !important;
    }
    .fast_line_desc {
        min-width: 100% !important;
        width: 100% !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .fc-header-toolbar {
        flex-direction: row;
    }
    .fast_line_ref {
        min-width: 33.33333% !important;
        width: 33.33333% !important;
    }
    .fast_line_desc {
        min-width: 66.66666% !important;
        width: 66.66666% !important;
    }
    .fast_line_cant,
    .fast_line_anch,
    .fast_line_alto,
    .fast_line_prof,
    .fast_line_pvp,
    .fast_line_dto1,
    .fast_line_dto2,
    .fast_line_dto3,
    .fast_line_dto4,
    .fast_line_btn {
        width: 33.33333% !important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .fast_line_ref {
        min-width: 25% !important;
        width: 25% !important;
    }
    .fast_line_desc {
        min-width: 75% !important;
        width: 75% !important;
    }
    .fast_line_cant,
    .fast_line_anch,
    .fast_line_alto,
    .fast_line_prof,
    .fast_line_pvp,
    .fast_line_dto1,
    .fast_line_dto2,
    .fast_line_dto3,
    .fast_line_dto4,
    .fast_line_btn {
        width: 33.33333% !important;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .fast_line_ref {
        min-width: 25% !important;
        width: 25% !important;
    }
    .fast_line_desc {
        min-width: 75% !important;
        width: 75% !important;
    }

    .fast_line_cant,
    .fast_line_anch,
    .fast_line_alto,
    .fast_line_prof,
    .fast_line_pvp,
    .fast_line_dto1,
    .fast_line_dto2,
    .fast_line_dto3,
    .fast_line_dto4,
    .fast_line_btn {
        max-width: 16.66666% !important;
        min-width: 8.33333% !important;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .fast_line_ref {
        width: 175px !important;
        min-width: 175px !important;
    }
    .fast_line_desc {
        width: auto !important;
        min-width: auto !important;
    }

    .fast_line_cant,
    .fast_line_anch,
    .fast_line_alto,
    .fast_line_prof {
        width: 100px !important;
        min-width: 100px !important;
    }

    .fast_line_pvp {
        width: 125px !important;
        min-width: 125px !important;
    }
    .fast_line_dto1,
    .fast_line_dto2,
    .fast_line_dto3,
    .fast_line_dto4 {
        width: 100px !important;
        min-width: 100px !important;
    }

    .fast_line_btn {
        width: 75px !important;
        min-width: 75px !important;
    }
}

.select2-selection__choice__display {
    margin-left: 10px;
}

.select2 {
    width: 100% !important;
}

.select2-dropdown {
    z-index: 2000 !important;
}


.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
    width: 0.65rem;
    height: 0.55rem;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    font-size: unset;
}

// corrección en visualización del select multiple
.select2-container .select2-selection--multiple .select2-search__field {
    margin-top: 9px;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 2px 0.2rem;
}

// corrección para visualización del botón para limpiar
.select2-container--default .select2-selection--single .select2-selection__clear {
    height: 37px;
    margin-right: 34px;
    padding-right: 0px;
    font-size: 1.5em;
}

.select2-container--bootstrap-5 .select2-selection {
    font-size: unset !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 24px !important;
    padding-left: unset !important;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
    font-size: unset !important;
}

/* línea que ocupa el 100% por detrás de un elemento como elemento decorativo.*/
.backline-custom {
    position: relative;
}

.backline-custom::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    border-bottom: 1px solid #e7e7e7;
}
