<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-4"></div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="view/img/loading_spinner.gif" class="lazyload" data-src="{#FS_PATH#}view/img/fuuu_face.png" alt="fuuuuu"/>
            </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-4"></div>
    </div>
</div>