<div style="margin-bottom: 100px"></div>

<div class="container-fluid hidden-print" style="margin-bottom: 10px;">
      {if="FS_DB_HISTORY"}
      <div class="row">
         <div class="col-sm-12">
            <div class="panel panel-default hidden-print">
               <div class="panel-heading">
                  <h3 class="panel-title">Consultas SQL:</h3>
               </div>
               <div class="panel-body">
                  <ol style="font-size: 11px; margin: 0px; padding: 0px 0px 0px 20px;">
                  {loop="$fsc->get_db_history()"}
                      {$text=htmlspecialchars($value)}
                      {$queries=str_replace(['; ',';'],';<br/>',$text)}
                      <li>{$queries}</li>
                  {/loop}
                  </ol>
               </div>
            </div>
         </div>
      </div>
      {/if}
    </div>
    {include="no_script"}
</body>
</html>
