   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mf-navbar-collapse-1">
               <span class="sr-only">Menú</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.php" title="{$fsc->empresa->nombre}">
               <i class="fa fa-home" aria-hidden="true"></i>&nbsp;
               <span class="hidden-sm">{if="FS_DEMO"}DEMO{elseif="$fsc->empresa->nombrecorto"}{$fsc->empresa->nombrecorto}{else}{$fsc->empresa->nombre}{/if}</span>
               <span>&nbsp;&nbsp;&nbsp;</span>
            </a>
               <a class="navbar-brand" href="#" id="sidebarCollapse" title="Mostrar/ocultar menú">
                  <i class="fa fa-bars" aria-hidden="true"></i>
               </a>
         </div>

         <div class="collapse navbar-collapse" id="mf-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
               <li>
                  <a href="https://api.whatsapp.com/send?phone=34637582364&text=Necesito%20Soporte" target="_blank" title="Soporte vía WhatsApp">
                     <i style="background-size: auto 20px; height: 20px; overflow: hidden; padding-right: 0; width: 20px; background-image: url(https://static.whatsapp.net/rsrc.php/yv/r/-r3j-x8ZnM7.svg); background-repeat: no-repeat; display: block; float: left;"></i>
                     <span class="hidden-xs">&nbsp;</span>
                     <span class="visible-xs">&nbsp;Soporte vía WhatsApp</span>
                  </a>
               </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     <span class="hidden-xs">
                        <i class="fa fa-question-circle fa-fw" aria-hidden="true"></i>
                        <span class="hidden-sm">{$fsc->reseller_data->name}</span>
                     </span>
                     <span class="visible-xs">Ayuda</span>
                  </a>
                  <ul class="dropdown-menu">
		     {if="isset($reseller->url)"}
                     <li>
                        <a href="{$fsc->reseller_data->url}" target="_blank">
                           <i class="fa fa-book fa-fw" aria-hidden="true"></i> {$fsc->reseller_data->name}
                        </a>
                     </li>
                     {/if}
		     {if="isset($reseller->url_contacto)"}
                     <li>
                        <a href="{$fsc->reseller_data->url_contacto}" target="_blank">
                           <i class="fa fa-shield fa-fw" aria-hidden="true"></i> Contactar
                        </a>
                     </li>
                     {/if}
                     <li class="divider"></li>
                     <li>
                        <a href="#" id="b_feedback">
                           <i class="fa fa-edit fa-fw" aria-hidden="true"></i> Informar de error...
                        </a>
                     </li>
                  </ul>
               </li>

               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{$fsc->user->nick}">
                     <i class="fa fa-user-circle fa-fw hidden-xs" aria-hidden="true"></i>
                     <span class="visible-xs">Usuario</span>
                  </a>
                  <ul class="dropdown-menu">
                     <li>
                        <a href="{$fsc->user->url()}">
                           <i class="fa fa-user-circle fa-fw" aria-hidden="true"></i> {$fsc->user->nick}
                        </a>
                     </li>
                     <li class="divider"></li>
                     <li>
                        <a href="{$fsc->url()}&logout=TRUE">
                           <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Cerrar sesión
                        </a>
                     </li>
                  </ul>
               </li>

{*
               {if="$fsc->check_for_updates()"}
               <li>
                  <a href="updater.php" class="btn-danger" title="Hay actualizaciones disponibles">
                     <i class="fa fa-cloud-upload hidden-xs" aria-hidden="true"></i>
                     <span class="visible-xs">Actualizaciones</span>
                  </a>
               </li>
               {/if}

               {if="$fsc->get_last_changes()"}
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     <i class="fa fa-clock-o hidden-xs" aria-hidden="true"></i>
                     <span class="visible-xs">Historial</span>
                  </a>
                  <ul class="dropdown-menu">
                  {loop="$fsc->get_last_changes()"}
                     {if="$value['nuevo']"}
                     <li title="creado el {$value['cambio']}">
                        <a href="{$value['url']}">
                           <i class="fa fa-file" aria-hidden="true"></i>&nbsp; {$value['texto']}
                        </a>
                     </li>
                     {else}
                     <li title="modificado el {$value['cambio']}">
                        <a href="{$value['url']}">
                           <i class="fa fa-edit" aria-hidden="true"></i>&nbsp; {$value['texto']}
                        </a>
                     </li>
                     {/if}
                  {/loop}
                  </ul>
               </li>
               {/if}
*}
            </ul>
         </div>
      </div>
   </nav>
