/*!
 * This file is part of MiFactura.eu
 * Copyright (C) 2021 X-Net Software Solutions S.L. <xnetsoftware@gmail.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

ul.dropdown-menu li a:first-letter {
   text-transform: uppercase;
}

.well {
   margin: 5px;
}

.alert {
   margin: 5px;
}

.alert a {
   color: white;
   text-decoration: underline;
}

.modal-header .close {
   color: #222222;
}

.modal-footer {
   margin: 0px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #D9EDF7; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

.clickable, .clickableRow:hover {
   cursor: pointer;
}

.modal-dialog {
   z-index: 1050;
}

iframe {
   border: 0px;
}

.vertical-align-bottom {
    float:none;
    vertical-align: bottom !important;
}

.vertical-align-top {
    float:none;
    vertical-align: top !important;
}

.vertical-align-middle {
    float:none;
    vertical-align: middle !important;
}

textarea {
    resize: vertical;
}

.panel-heading:hover {
    cursor: pointer;
}
.panel-heading{
    cursor: default;
}

.page-header {
    margin: 0px 0 21px;
}

/**
 * Keep original element in the same spot
 * So that HTML5 valiation message appear in the correct position
 */
.select2-hidden-accessible,
.select2-hidden-accessible:focus {
left: auto!important;
    top: auto!important;
    margin: -1px;
}
