#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.navbar-fixed-top {
    z-index: 1050;
}

.navbar-fixed-bottom {
    z-index: 1040;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .navbar-nav>li {
    float: initial;
}

#sidebar .navbar-nav {
    float: none;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 5px;
}

#sidebar ul.components {
    padding: 20px 0;
}
#sidebar > div.collapse.navbar-collapse > ul > li.dropdown > ul {
    top: 0px;
    left: 220px;
    z-index: 1100;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    display: block;
}

#sidebar ul li.active > a,
#sidebar ul li.active > a[aria-expanded="true"] {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

#sidebar > div.collapse.navbar-collapse > ul > li > a[aria-expanded="false"]::before,
#sidebar > div.collapse.navbar-collapse > ul > li > a[aria-expanded="true"]::before {
    content:"\e080";
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

#sidebar > div.collapse.navbar-collapse > ul > li > a[aria-expanded="true"]::before {
    content:"\e079";
}

ul ul a {
    padding-left: 30px !important;
}

.navbar .dropdown-menu {
    /*border: none;*/
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    padding: 20px;
    min-height: 100vh;
    max-width: 100%;
    width: 100%;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

    #sidebar .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }


    #sidebar > div.collapse.navbar-collapse > ul > li > a[aria-expanded="false"]::before,
    #sidebar > div.collapse.navbar-collapse > ul > li > a[aria-expanded="true"]::before {
        content:"\e114";
        display: block;
        position: absolute;
        right: 20px;
        font-family: 'Glyphicons Halflings';
        font-size: 0.6em;
    }

    #sidebar > div.collapse.navbar-collapse > ul > li > a[aria-expanded="true"]::before {
        content:"\e113";
    }
}
