{include="main_header"}

{if="isset($fsc->template_top)"}
    {include="$fsc->template_top"}
{/if}

{if="$fsc->model"}
<div class="container-fluid">
    <div class="row">
        {if="!isset($fsc->hide_title) || $fsc->hide_title != true"}
        <div class="col-sm-6">
            <div class="btn-group">
                <a href="{$fsc->model->url('list')}" class="btn btn-sm btn-default">
                    <i class="fa fa-chevron-left fa-fw" aria-hidden="true"></i>
                    <span class="hidden-xs">Todo</span>
                </a>
                <a class="btn btn-sm btn-default" href="{$fsc->model->url()}" title="Recargar la página">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </a>
            </div>
            <span class="btn-group">
                {loop="$fsc->extensions"}
                    {if="$value->type=='button'"}
                        <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
                    {/if}
                {/loop}
           </span>
            <a href="{$fsc->model->url('new')}" class="btn btn-sm btn-success">
                <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                <span class="hidden-xs">Nuevo</span>
            </a>
        </div>
        {/if}
        <div class="col-sm-6 text-right">
            <span class="h2 text-capitalize">
                {$fsc->page->folder} / {$fsc->page->title} /
                {if="empty($fsc->model->primary_column_value())"}
                <b>Nuevo</b>
                {else}
                {$fsc->model->primary_column_value()}
                {/if}
            </span>
        </div>
    </div>
</div>

<br/>

<div class="container-fluid">
    <form action="{$fsc->model->url('edit')}" method="post" class="form">
        <input type="hidden" name="action" value="edit"/>
        <input type="hidden" name="petition_id" value="{$fsc->random_string()}"/>
        <div class="row">
            {loop="$fsc->form->columns"}
            <div class="col-sm-{$value.num_cols}">
                {$fsc->form->show($key, $value, $fsc->model)}
            </div>
            {/loop}
        </div>
        <div class="row">
            <div class="col-xs-4">
                <a href="#" id="btn_delete_model" class="btn btn-sm btn-danger">
                    <i class="fa fa-trash-can fa-fw" aria-hidden="true"></i>
                    <span class="hidden-xs hidden-sm">Eliminar</span>
                </a>
            </div>
            <div class="col-xs-8 text-right">
                <a class="btn btn-sm btn-default" href="{$fsc->model->url()}" title="Recargar la página">
                    <i class="fa fa-refresh fa-fw" aria-hidden="true"></i>
                    <span class="hidden-xs hidden-sm">Deshacer</span>
                </a>
                <button class="btn btn-sm btn-primary" type="submit">
                    <i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i>
                    <span class="hidden-xs">Guardar</span>
                </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btn_delete_model").click(function (event) {
            event.preventDefault();
            bootbox.confirm({
                message: '¿Realmente desea eliminar? Esta acción no se puede deshacer',
                title: '<b>Atención</b>',
                callback: function (result) {
                    if (result) {
                        window.location.href = '{$fsc->model->url()}&action=delete';
                    }
                }
            });
        });
    });
</script>
{/if}

{if="isset($fsc->template_bottom)"}
    {include="$fsc->template_bottom"}
{/if}

{include="main_footer"}
