<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header" style="margin-bottom: 0px;">
                <h1>
                    <i class="fa fa-server" aria-hidden="true"></i>
                    Información del sistema
                    <span class="btn-group">
                        <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </a>
                        {if="$fsc->page->is_default()"}
                        <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="Marcada como página de inicio (pulsa de nuevo para desmarcar)">
                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                        </a>
                        {else}
                        <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="Marcar como página de inicio">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                        </a>
                        {/if}
                    </span>
                </h1>
                <p class='help-block'>
                    Aquí tienes información básica sobre esta instalación de MiFactura.eu,
                    base de datos, listado de tablas y el historial de errores con múltiples
                    filtros, para facilitarte el trabajo a la hora de encontrar un fallo.
                </p>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-left">MiFactura.eu</th>
                    <th class="text-center">PHP</th>
                    <th class="text-center">Base de datos</th>
                    <th class="text-center">Motor de base de datos</th>
                    <th class="text-center">Comunidad</th>
                    <th class="text-right">Caché</th>
                </tr>
            </thead>
            <tr>
                <td><a href="{#FS_COMMUNITY_URL#}/index.php?page=community_changelog&version={$fsc->version()}" target="_blank">{$fsc->version()}</a></td>
                <td class="text-center">{$fsc->php_version()}</td>
                <td class="text-center">{$fsc->fs_db_name()}</td>
                <td class="text-center">{$fsc->fs_db_version()}</td>
                <td class="text-center">{#FS_COMMUNITY_URL#}</td>
                <td class="text-right">{$fsc->cache_version()}</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="btn-group">
                {loop="$fsc->extensions"}
                {if="$value->type=='button'"}
                <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
                {/if}
                {/loop}
            </div>
        </div>
        <div class="col-xs-4 text-right">
            {if="$fsc->allow_delete"}
            <a class="btn btn-sm btn-danger" href="{$fsc->url()}&clean_cache=TRUE">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <span class="hidden-xs">&nbsp;Limpiar la cache</span>
            </a>
            {/if}
        </div>
    </div>
    {if="$fsc->get_locks()"}
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Bloqueos en la base de datos</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-left">Base de datos</th>
                                <th class="text-left">relname</th>
                                <th class="text-left">relation</th>
                                <th class="text-left">transaction ID</th>
                                <th class="text-left">PID</th>
                                <th class="text-left">modo</th>
                                <th class="text-left">granted</th>
                            </tr>
                        </thead>
                        {loop="$fsc->get_locks()"}
                        <tr>
                            <td>{$value.database}</td>
                            <td>{$value.relname}</td>
                            <td>{$value.relation}</td>
                            <td>{$value.transactionid}</td>
                            <td>{$value.pid}</td>
                            <td>{$value.mode}</td>
                            <td>{$value.granted}</td>
                        </tr>
                        {else}
                        <tr class="warning">
                            <td colspan="7">Ningún bloqueo detectado.</td>
                        </tr>
                        {/loop}
                    </table>
                </div>
            </div>
        </div>
    </div>
    {/if}
</div>
