{include="main_header"}

{if="$fsc->url_recarga"}
<script type="text/javascript">
    function recargar() {
        window.location.href = '{$fsc->url_recarga}';
    }

    $(document).ready(function () {
        setTimeout(recargar, 5000);
    });
</script>
{/if}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                    FSDK
                    <span class="btn-group">
                  <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
                     <i class="fa fa-refresh" aria-hidden="true"></i>
                  </a>
                  {if="$fsc->page->is_default()"}
                  <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="Marcada como página de inicio (pulsa de nuevo para desmarcar)">
                     <i class="fa fa-bookmark" aria-hidden="true"></i>
                  </a>
                  {else}
                  <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="Marcar como página de inicio">
                     <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                  </a>
                  {/if}
               </span>
                </h1>
                <p class="help-block">
                    Aquí encontrarás un conjunto de ayudas para el desarrollo y testeo de
                    plugins para {$fsc->reseller_data->name}.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="#" class="btn btn-sm btn-block btn-warning" data-toggle="modal" data-target="#modal_datos_prueba">
                <i class="fa fa-magic" aria-hidden="true"></i> Generar datos de prueba...
            </a>
        </div>
        <div class="col-sm-9">
            <p class="help-block">
                Genera datos de prueba aleatorios para probar tus modificaciones.
                Puedes generar infinidad de artículos, clientes, proveedores y
                {#FS_ALBARANES#} de tamaños aleatorios.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="#" class="btn btn-sm btn-block btn-default" data-toggle="modal" data-target="#modal_tablas">
                <i class="fa fa-database" aria-hidden="true"></i> Tablas...
            </a>
        </div>
        <div class="col-sm-9">
            <p class="help-block">
                Selecciona una tabla de la base de datos para generar el <b>xml</b>
                y/o el <b>modelo</b> necesarios para crearla e interactuar con ella.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="#" class="btn btn-sm btn-block btn-default" data-toggle="modal" data-target="#modal_nuevo_plugin">
                <i class="fa fa-puzzle-piece" aria-hidden="true"></i> Generar nuevo plugin
            </a>
        </div>
        <div class="col-sm-9">
            <p class="help-block">
                Crea un plugin básico con "hola mundo" a partir de unos datos básicos.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h2>Otros:</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="index.php?page=fsdk_plan_contable" class="btn btn-sm btn-block btn-default">
                <i class="fa fa-balance-scale" aria-hidden="true"></i> CSV =&gt; Plan contable
            </a>
        </div>
        <div class="col-sm-9">
            <p class="help-block">
                Permite generar un plan contable a partir de un CSV o <b>excel</b> con el listado
                de cuentas y sus descripciones.
            </p>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_datos_prueba" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-magic" aria-hidden="true"></i>
                    Generar datos de prueba
                </h4>
                <p class="help-block">
                    Selecciona qué datos quieres generar.
                </p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="{$fsc->url()}&gdp=fabricantes" class="btn btn-sm btn-block btn-default">
                            <i class="fa fa-folder" aria-hidden="true"></i> Fabricantes
                        </a>
                        <br/>
                        <a href="{$fsc->url()}&gdp=familias" class="btn btn-sm btn-block btn-default">
                            <i class="fa fa-folder" aria-hidden="true"></i> Familias
                        </a>
                        <br/>
                        <a href="{$fsc->url()}&gdp=articulos" class="btn btn-sm btn-block btn-default">
                            <i class="fa fa-cubes" aria-hidden="true"></i> Artículos
                        </a>
                        <br/>
                        <a href="{$fsc->url()}&gdp=agentes" class="btn btn-sm btn-block btn-default">
                            <i class="fa fa-users" aria-hidden="true"></i> Empleados
                        </a>
                        <br/>
                    </div>
                    <div class="col-sm-4">
                        <a href="{$fsc->url()}&gdp=proveedores" class="btn btn-sm btn-block btn-default">
                            <i class="fa fa-users" aria-hidden="true"></i> Proveedores
                        </a>
                        <br/>
                        <a href="{$fsc->url()}&gdp=albaranesprov" class="btn btn-sm btn-block btn-default">
                            <i class="fa fa-copy" aria-hidden="true"></i> {#FS_ALBARANES#} de compra
                        </a>
                        <br/>
                        <a href="{$fsc->url()}&gdp=pedidosprov" class="btn btn-sm btn-block btn-default">
                            <i class="fa fa-copy" aria-hidden="true"></i> {#FS_PEDIDOS#} de compra
                        </a>
                        <br/>
                    </div>
                    <div class="col-sm-4">
                        <a href="{$fsc->url()}&gdp=gruposcli" class="btn btn-sm btn-block btn-default">
                            <i class="fa fa-folder" aria-hidden="true"></i> Grupos de clientes
                        </a>
                        <br/>
                        <a href="{$fsc->url()}&gdp=clientes" class="btn btn-sm btn-block btn-default">
                            <i class="fa fa-users" aria-hidden="true"></i> Clientes
                        </a>
                        <br/>
                        <a href="{$fsc->url()}&gdp=albaranescli" class="btn btn-sm btn-block btn-default">
                            <i class="fa fa-copy" aria-hidden="true"></i> {#FS_ALBARANES#} de venta
                        </a>
                        <br/>
                        <a href="{$fsc->url()}&gdp=pedidoscli" class="btn btn-sm btn-block btn-default">
                            <i class="fa fa-copy" aria-hidden="true"></i> {#FS_PEDIDOS#} de venta
                        </a>
                        <br/>
                        <a href="{$fsc->url()}&gdp=presupuestoscli" class="btn btn-sm btn-block btn-default">
                            <i class="fa fa-copy" aria-hidden="true"></i> {#FS_PRESUPUESTOS#} de venta
                        </a>
                        <br/>
                        <a href="{$fsc->url()}&gdp=servicioscli" class="btn btn-sm btn-block btn-default">
                            <i class="fa fa-copy" aria-hidden="true"></i> {#FS_SERVICIOS#} a clientes
                        </a>
                        <br/>
                    </div>
                </div>
                <div class="row">
                    {loop="$fsc->extensions"}
                    {if="$value->type=='generate'"}
                    <div class="col-sm-4">
                        <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-block btn-default">{$value->text}</a>
                    </div>
                    {/if}
                    {/loop}
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-warning">
                            <i class="fa fa-warning" aria-hidden="true"></i>
                            La generación de datos de prueba sirve para demos y para probar los
                            plugins con datos masivos. No continues si no sabes lo que haces.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_tablas" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-database" aria-hidden="true"></i>
                    Tablas
                </h4>
                <p class="help-block">
                    Selecciona una tabla para ver las opciones de generación.
                </p>
            </div>
            <div class="modal-body">
                <div class="row">
                    {loop="$fsc->tablas"}
                    <div class="col-sm-4">
                        <a href="index.php?page=fsdk_tabla&table={$value['name']}" class="btn btn-sm btn-block btn-default">
                            <i class="fa fa-folder" aria-hidden="true"></i> {$value['name']}
                        </a>
                        <br/>
                    </div>
                    {/loop}
                </div>
            </div>
        </div>
    </div>
</div>

<form class="form" role="form" name="f_nuevo_plugin" action="{$fsc->url()}" method="post">
    <input type="hidden" name="generarplugin" value="1">
    <div class="modal" id="modal_nuevo_plugin" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 95%; max-width: 950px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                        Nuevo plugin
                    </h4>
                    <p class="help-block">
                        Genera un nuevo plugin para que puedas empezar a modificarlo.
                    </p>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        Nombre:
                        <input type="text" name="nombre" value="holamundo" class="form-control" autofocus="" autocomplete="off"/>
                    </div>
                    <div class="form-group">
                        Descripción:
                        <textarea name="descripcion" class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-primary" type="submit">
                        <i class="fa fa-puzzle-piece" aria-hidden="true"></i>&nbsp; Generar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

{include="main_footer"}
