<br><br><br><br>

<small>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <p class="navbar-text">
                    <a class="navbar-link" target="_blank" href="{$fsc->reseller_data->url}">{$fsc->reseller_data->name}</a>
                    {$fsc->get_app_version()}
                </p>
            </div>
            <div class="col-xs-4 col-sm-6">
                <p class="navbar-text navbar-right">
                    <i class="fa fa-user" aria-hidden="true" title="Identificado como {$fsc->user->nick}"></i>
                    &nbsp; <span class="hidden-xs">{$fsc->user->nick} |</span>

                    &nbsp;
                    <i class="fa fa-database" aria-hidden="true" title="{$fsc->selects()} consultas"></i>
                    &nbsp; <span class="hidden-xs">{$fsc->selects()} |</span>

                    &nbsp;
                    <i class="fa fa-tasks" aria-hidden="true" title="{$fsc->transactions()} transacciones"></i>
                    &nbsp; <span class="hidden-xs">{$fsc->transactions()} |</span>

                    {if="FS_DB_HISTORY"}
                    &nbsp;
                    <a class="navbar-link" data-toggle="modal" data-target="#verSQL">
                        <i class="fa fa-eye" aria-hidden="true" title="Ver consultas SQL"></i>
                        &nbsp; <span class="hidden-xs">Ver consultas SQL |</span>
                    </a>
                    {/if}

                    &nbsp;
                    <i class="fa fa-clock-o" aria-hidden="true" title="Página procesada en {$fsc->duration()}"></i> &nbsp;<span class="hidden-xs">{$fsc->duration()}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
            </div>
        </div>
    </nav>
</small>

{if="FS_DB_HISTORY"}
<div class="modal fade" id="verSQL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Consultas SQL</h4>
            </div>
            <div class="modal-body">
                <small>
                    <ol>
                        {$consultas=''}
                        {loop="$fsc->get_db_history()"}
                            {$text=htmlspecialchars($value)}
                            {$queries=str_replace(['; ',';'],';<br/>',$text)}
                            <li>{$queries}</li>
                        {/loop}
                    </ol>
                </small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" title="Cerrar"></span>
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
{/if}

<div class="hidden">
    {loop="$fsc->extensions"}
        {if="$value->type=='hidden_iframe'"}
            <iframe src="index.php?page={$value->from}{$value->params}"></iframe>
        {/if}
    {/loop}
</div>
