<form name="f_feedback" action="{#FS_COMMUNITY_URL#}/feedback" method="post" target="_blank" class="form" role="form">
    <input type="hidden" name="feedback_info" value="{$fsc->system_info()}"/>
    <input type="hidden" name="feedback_type" value="error"/>
    <div class="modal" id="modal_feedback">
        <div class="modal-dialog" role="document" style="width: 95%; max-width: 950px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        <i class="fa fa-edit" aria-hidden="true"></i> Informar de error...
                    </h4>
                    <p class="help-block">
                        Usa este formulario para informarnos de cualquier error o duda que hayas encontrado.
                        Para facilitarnos el trabajo este formulario también nos informa de la versión de
                        MiFactura.eu que usas, lista de plugins activos, versión de php, etc...
                    </p>
                </div>
                {if="$fsc->check_for_updates()"}
                <div class="modal-body bg-info">
                    <p class='help-block'>
                        Tienes <a href="updater.php" target="_blank">actualizaciones pendientes</a>.
                        Las actualizaciones corrigen errores y añaden nuevas características.
                        No recibirás soporte en la web a menos que actualices.
                    </p>
                </div>
                {/if}
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" name="feedback_text" rows="6" placeholder="Detalla tu duda o problema..."></textarea>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                            {if="$fsc->empresa && $fsc->user->logged_on"}
                            <input type="email" class="form-control" name="feedback_email" placeholder="Tu email" value="{$fsc->empresa->email}"/>
                            {else}
                            <input type="email" class="form-control" name="feedback_email" placeholder="Tu email"/>
                            {/if}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa fa-send" aria-hidden="true"></i>&nbsp; Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

{*
{if="$fsc->empresa && !FS_DEMO && mt_rand(0,49)==0"}
<div style="display: none;">
    {if="mt_rand(0,2)>0 && $fsc->user->logged_on"}
    <iframe src="index.php?page=admin_home&check4updates=TRUE" class="visually-hidden"></iframe>
    {/if}
</div>
{/if}
*}
